@model BlogListViewModel

@{
    ViewData["Title"] = "Bloglar";
}

<div class="col-lg-12">
    <div class="ibox ">
        <div class="ibox-content">
            <div class="row">
                <div class="col-sm-9 m-b-xs">
                    <a onclick="window.open('/Blog/ExcelExportBlogList')" href="#" class="btn btn-outline-success">
                        <i class="fa fa-file-excel-o"></i> <span> İndir</span>
                    </a>
                </div>
                <div class="col-sm-3">
                    <div class="input-group">
                        <input v-on:keyup="categorySearch" v-model="searchItem" placeholder="Arama" type="text" class="form-control form-control-sm">
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Başlık </th>
                            <th>İçerik </th>
                            <th>Kategori</th>
                            <th>Durum</th>
                            <th>Oluşturulma Tarihi</th>
                            <th>Güncellenme Tarihi</th>
                            <th>İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var blog in Model.Blogs)
                        {
                            <tr>
                                <td>@blog.BlogId</td>
                                <td>@blog.Title</td>
                                <td>@Html.Raw(blog.Content.Length < 200 ? blog.Content : blog.Content.Substring(0, 200))</td>
                                <td>@blog.Category.Name</td>
                                <td>@(blog.Status ? "Aktif" : "Pasif")</td>
                                <td>@blog.CreateDate</td>
                                <td>@blog.UpdateDate</td>
                                <td>
                                    <a class="btn btn-warning btn-sm mb-1" asp-controller="" asp-action="">Güncelle</a>
                                    <a class="btn @(blog.Status ? "btn-primary" : "btn-danger") btn-sm" asp-controller="Blog" asp-action="Status" asp-route-id="@blog.BlogId">@(blog.Status ? "Aktif" : "Pasif")</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>