@model List<Blog>

@{
    ViewData["Title"] = "Anasayfa";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<section class="main-content-w3layouts-agileits">
    <div class="container">
        <h3 class="tittle">Blog</h3>
        <div class="inner-sec">
            <div class="left-blog-info-w3layouts-agileits text-left">
                <div class="row">
                    @if ((bool)TempData["Status"])
                    {
                        @foreach (var blog in Model)
                        {
                            <div class="col-lg-4 card">
                                <a href="single.html">
                                    <img src="~/CoreBlogTema/images/7.jpg" class="card-img-top img-fluid" alt="">
                                </a>
                                <div class="card-body">
                                    <ul class="blog-icons my-4">
                                        <li>
                                            <a href="#">
                                                <i class="far fa-calendar-alt"></i> @blog.CreateDate.ToShortDateString()
                                            </a>
                                        </li>
                                        <li class="mx-2">
                                            <a href="#">
                                                <i class="far fa-comment"></i> 21
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fas fa-eye"></i> @blog.Category.Name
                                            </a>
                                        </li>
                                    </ul>
                                    <h5 class="card-title">
                                        <a asp-controller="Blog" asp-action="BlogDetails" asp-route-id="@blog.BlogId">@blog.Title</a>
                                    </h5>
                                    <div class="card-text mb-4">
                                        @Html.Raw(blog.Content.Substring(0, blog.Content.Substring(0, 130).LastIndexOf(" ")))...
                                    </div>
                                    <a asp-controller="Blog"
                                       asp-action="BlogDetails"
                                       asp-route-id="@blog.BlogId"
                                       style="margin-top: 8px;"
                                       class="btn btn-primary read-m">Devamını oku</a>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        @if (TempData["Message"] is not null)
                        {

                            <div class="alert alert-warning col-12">@TempData["Message"]</div>
                        }
                    }

                </div>
            </div>
        </div>
    </div>
</section>

